body,
html {
    background: rgb(179, 176, 176);
    background: linear-gradient(0deg, rgba(179, 176, 176, 1) 0%, rgba(11, 11, 11, 1) 100%);
    margin: 0;
    padding: 0;

    font-family: 'Merriweather', serif;
    overflow-x: hidden;
    scroll-behavior: smooth;    
}

.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }
.text-white  { color: wheat; }

.box-shadow   { box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2); }
.bg-gray      { background-color: #404040; }
.bg-dark-gray { background-color: #4d4d4d; }

.bg-black {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 73%, rgba(179, 176, 176, 1) 100%);
}

.me-photo {
    padding-top: 4vw;
    width: 30vw;
    cursor: grab;
}

.logo   { width: 7vw; }
section { padding: 100px 0; }


/* --------------- Styles & Effects ------------------ */

::-webkit-scrollbar-thumb       { background: #f1f1f1; }
::-webkit-scrollbar-thumb:hover { background: wheat;   }
::-webkit-scrollbar             { width: 15px;           }

::-webkit-scrollbar-track {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(179,176,176,1) 100%);
    border: 0.1px solid #888;    
}

h1 {
    font-size: 8vh;
    font-weight: 900;
    margin-bottom: 100px;
    margin-top: 0;
    color: whitesmoke;
    letter-spacing: 0.2vw;
    padding-top: 6vh;
}

h2 {
    font-size: 5.5vh;
    font-weight: 900;
    line-height: 8vh;
}

h3 {
    font-size: 4.5vh;
    color: wheat;
    font-weight: 400;
}

h4 {
    font-size: 4.4vh;
    font-weight: bold;
    line-height: 8vh; 
    color: whitesmoke;
}

p {
    color: wheat;
    font-size: 3vh;
    line-height: 4vh;
}

ul li {
    font-size: 2.5vh !important;
}

a {
    font-size: 2.5vw;
    color: whitesmoke;
    text-decoration: none;
}

header { padding-bottom: 100px; }


/* --------------- Navigation ------------------ */

.main-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 10vw;
}

.main-navigation li {
    display: inline-block;
    margin: 0 2.5vw;
}

.main-navigation a:hover { text-decoration: underline; }

.introduction {
    position: relative;
    left: 2.4vw;
}

/* --------------- About me ------------------ */
#about-me .col-md-6 p { padding-top: 20px; }


/* --------------- Skills ------------------ */
.skill-card {
    height: auto;
    width: 100%;
    padding: 55px 40px 50px 55px;
    box-shadow: 0px 0px 3px 3px whitesmoke;
    position: relative;
    
    margin-bottom: 40px;
    background-color: #404040;
    color: wheat;
    cursor: pointer;
}

.skill-header { color: white; }

.skill-card:hover {
    border: 2px solid #66ff66;
    box-shadow: none;
    transition: 0.4s ease-in-out;
}

.skill-card h4 { margin: 0; }
.skill-card p { 
    width: 80%; 
    padding-bottom: 20px;
}

.ability ul li { padding-bottom: 15px; }
/* --------------- Projects ------------------ */

.project-card {
    width: 100%;
    padding: 50px 100px 50px 100px;
    box-shadow: 0px 0px 40px 16px rgba(107, 103, 103, 0.15);
    margin: 10px;
    background-color: #404040;
    transition: 0.3s ease-in-out;
    border: 2px solid wheat;
    border-radius: 50%;
}

.project-card p {
    color: whitesmoke;
    font-size: 2.3vh;
    line-height: 4vh;
}

.project-card h3 a        { color: wheat;   }
.project-card h3 a:hover  { color: #66ff66; }

.project-card p i a       { color: wheat;   }
.project-card p i a:hover { color: #66ff66; }

.info                     { color: wheat;   }
.info:hover               { color: #66ff66; }

.used-technology { 
    color: #66ff66; 
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(0.9);
        border-radius: 70% 0;
        box-shadow:  0 0 0 0 rgb(46, 204, 113, 0.7)
    }
    
    100% {
        transform: scale(1);
        box-shadow:  0 0 0 10px rgba(255, 82, 82, 0);
    }
}

/* --------------- Footer ------------------ */

#call-to-action h1 {
    margin-top: 7vw;
    padding: 0px;
}

#contact .col-md-12 h3 { text-decoration: underline; }

footer li {
    display: inline-block;
    margin-left: 80px;
}

footer i {
    color: white;
    font-size: 10vh;
    transition: 0.3s ease-in-out;
}

footer i:hover { opacity: 0.3; }

/* --------------- Responsiveness ------------------ */

@media(max-width: 2570px){
    .skill-card ul li { font-size: 1vw; }    
    .skill-header { font-size: 2vw; }
    
    i a { 
        font-size: 2.0vw;
        padding-left: 100px;
    }

    .work {
        position: relative;
        bottom: 40px;
    }

    ul li a { font-size: 4vh; }
    h4 {
        font-size: 4vh !important;
        line-height: 4vh;
    }

    .project-card h3 a { font-size: 1.6vw;  }
    .project-card p  { font-size: 1.1vw; }
}

@media (max-width: 1460px){    
    .work {
        position: relative;
        bottom: 10px;
    }
    
    h3 a { font-size: 4vh; }   
    ul li a { font-size: 4vh; }

    i a { 
        font-size: 2.0vw;
        padding-left: 0px;
    }
    
    .additional-info,
    .project-card p  { font-size: 1.1vw; }
}

@media (max-width: 1050px) {

    h1 { font-size: 6vh; }
    h3 { font-size: 4vh; }

    h4 {
        font-size: 3vh;
        line-height: 4vh;
    }

    p                  { font-size: 2.6vh;  }
    footer i           { font-size: 3vh;    }
    ul li              { font-size: 1.6vw;  }
    .project-card h3 a { font-size: 2vw;  }
    
    .project-card {
        width: 100%;
        padding: 55px 40px 50px 55px;
        box-shadow: 0px 0px 3px 3px whitesmoke;
        position: relative;
        margin-bottom: 40px;
        background-color: #404040;
        transition: 0.3s ease-in-out;
        color: wheat;
        border-radius: 25%;
    }

    .project-card h4 {  margin: 0;      }
    .project-card p  {  width: 60%;     }
    .project-card a  {  font-size: 3vw; }
    
    .skill-card ul li { font-size: 1vw; }
    
    .work {
        position: relative;
        bottom: 30px;
    }
}

@media (max-width: 770px){
    .project-card h3 a { font-size: 3.5vw; }
    ul li              { font-size: 2.6vw; }

    .skill-card h4 {
        font-size: 2vw;
        line-height: 4vh;
    }

    .work {
        position: relative;
        bottom: 0px;
    }

    .project-card h3 a { font-size: 2vw; }
    .project-card p { font-size: 1.5vw !important; }
}

@media(min-width: 770px){ .container { max-width: 100%; } }

@media (max-width: 500px) {

    h1 { font-size: 4vh; }
    h3 { font-size: 3.5vh; }
    h4 {
        font-size: 2vh;
        line-height: 4vh;
    }

    p                  { font-size: 2.6vh;  }
    footer i           { font-size: 5vh;    }
    ul li              { font-size: 4.2vw;  }
    .project-card h3 a { font-size: 5.5vw;  }

    .project-card {
        width: 100%;
        padding: 55px 40px 50px 55px;
        box-shadow: 0px 0px 3px 3px whitesmoke;
        position: relative;
        margin-bottom: 40px;
        background-color: #404040;
        transition: 0.3s ease-in-out;
        color: wheat;
        border-radius: 25%;
    }

    .project-card h4 {  margin: 0;      }
    .project-card p  {  
        width: 60%;     
        font-size: 2.6vw !important;
    }
    .project-card a  {  font-size: 6vw; }

    .skill-header { font-size: 4vw; }
    .skill-card ul li { font-size: 2.5vw; }
    
    .additional-info { font-size: 2.5vw; }
}

@media(max-width: 330px){
    h4 { font-size: 3vh !important; }

    .skill-card ul li { font-size: 3vw; }
    
    .project-card p  {  
        width: 60%;     
        font-size: 3vw !important;
    }
}