::-webkit-scrollbar-thumb       { background: #f1f1f1; }
::-webkit-scrollbar-thumb:hover { background: wheat;   }
::-webkit-scrollbar             { width: 15px;           }

::-webkit-scrollbar-track {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(179,176,176,1) 100%);
    border: 0.1px solid #888;    
}

h1 {
    font-size: 8vh;
    font-weight: 900;
    margin-bottom: 100px;
    margin-top: 0;

    color: whitesmoke;
    letter-spacing: 0.2vw;
    padding-top: 6vh;
    text-decoration: underline red;
}

h2 {
    font-size: 5.5vh;
    font-weight: 900;
    line-height: 8vh;
}

h3 {
    font-size: 4vh;
    color: wheat;
    font-weight: 400;
}

h4 {
    font-size: 4.4vh;
    font-weight: bold;
    line-height: 8vh; 
    color: whitesmoke;
}

p {
    color: wheat;
    font-size: 2.8vh;
    line-height: 4vh;
}

a {
    font-size: 3.4vh;
    color: whitesmoke;
    text-decoration: none;
}

header { padding-bottom: 100px; }
.container { max-width: 100%; }